@import "bootstrap";

body{
  background-color: gray;
}
h1{
  font-family: 'Marck Script';
  text-align: center;
  @extend .text-back; /*nueva variable dentro $theme-colors*/
}

.flex {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

}


.card {
  font-family: "Courgette";
  @extend .bg-dark;
  .card-title {    
    @extend .text-purple;
    font-family: 'Marck Script';
    font-size: 32px
  }

  .card-text {
    @extend .text-light;
  }
  .btn {
    @extend .text-light;
    @extend .bg-purple; /*nueva variable dentro $theme-colors*/
  }
}

